@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
  /* --dark-color-a: #667aff; */
  --dark-color-a: #3241a5;
  --dark-color-b: #3a4cc1;
  /* --dark-color-b: #7386ff; */
  --light-color: #e6e9ff;
  --light-color-b: #a9b1f0;
  --success-color: #5cb85c;
  --error-color: #d9534f;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background: var(--light-color);
  margin: 24px;
  overflow-y: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

textarea {
  resize: none;
  border: none;
  outline: none;
  padding: 8px;
  width: 100%;
  height: 100%;
}

input[type='text']:focus,
textarea:focus {
  outline: none;
}

.btn {
  cursor: pointer;
  padding: 8px 16px;
  background: var(--light-color);
  color: var(--dark-color-a);
  border: 0;
  font-size: 16px;
}

/* Chat Page */

.chat-container {
  max-width: 1100px;
  background: #fff;
  margin: 32px auto;
  overflow: hidden;
}

.chat-header {
  background: var(--dark-color-a);
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 16px 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chat-header .btn {
  border-radius: 5px;
}

.chat-main {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.chat-sidebar {
  background: var(--dark-color-b);
  color: #fff;
  padding: 24px 16px 60px;
  overflow-y: scroll;
}

.chat-sidebar h2 {
  font-size: 20px;
  background: rgba(0, 0, 0, 0.1);
  padding: 12px;
  margin-bottom: 16px;
}

.chat-sidebar h3 {
  margin-bottom: 16px;
}

.chat-sidebar ul li {
  padding: 12px 0;
}

.chat-messages {
  padding: 24px;
  height: 500px;
  max-height: 500px;
  overflow-y: scroll;
}

.chat-messages .message {
  padding: 12px;
  margin-bottom: 16px;
  background-color: var(--light-color);
  border-radius: 5px;
}

.chat-messages .text {
  white-space: pre-line;
  overflow-wrap: break-word;
}

.chat-messages .message .meta {
  font-size: 15px;
  font-weight: bold;
  color: var(--dark-color-b);
  opacity: 0.7;
  margin-bottom: 8px;
}

.chat-messages .message .meta span {
  color: #777;
}

.chat-form-container {
  padding: 16px 16px;
  background-color: var(--dark-color-a);
}

.chat-form-container form {
  display: flex;
}

.chat-form-container input[type='text'] {
  font-size: 16px;
  padding: 4px;
  height: 40px;
  flex: 1;
}

.chat-form-container .btn {
  padding: 8px;
}

/* Join Page */
.join-container {
  max-width: 500px;
  margin: 80px auto;
  color: #fff;
}

.join-header {
  text-align: center;
  padding: 24px;
  background: var(--dark-color-a);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.join-main {
  padding: 32px 40px;
  background: var(--dark-color-b);
}

.join-main .form-control {
  margin-bottom: 24px;
}

.join-main label {
  display: block;
  margin-bottom: 8px;
  color: var(--light-color);
}

.join-main input[type='text'] {
  font-size: 16px;
  padding: 8px;
  height: 40px;
  width: 100%;
}

.join-main select {
  font-size: 16px;
  padding: 8px;
  height: 40px;
  width: 100%;
}

.join-main select:focus {
  outline: none;
}

.join-main .btn {
  margin-top: 24px;
  width: 100%;
}

@media (max-width: 700px) {
  .chat-main {
    display: block;
  }

  .chat-sidebar {
    display: none;
  }

  .chat-messages {
    padding: 12px;
    height: 450px;
    max-height: 450px;
  }

  .join-main {
    padding: 32px;
  }
}

@media (hover: hover) {
  .join-main .btn:hover {
    border: 1px solid var(--light-color);
    background: none;
    color: var(--light-color);
  }
}
